.ui-accordion-header {
    padding-left: 40px;
}
h5 {
    margin: 0;
}
ul {
    margin-top: 0;
}
ul.ui-accordion-content {
    max-height: 600px;
}
.display {
    width: 58%;
    float: left;
    padding-left: 20px;
    height: 800px;
    overflow-y: scroll;
}
ul.one li {}