/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 14px;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  color: black;
}
div.accordion {
  width: 39%;
  float: left;
  margin-top: 100px;
}
.wrapper {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}
.ui-accordion-header {
  padding-left: 40px;
}
h5 {
  margin: 0;
}
ul {
  margin-top: 0;
}
ul.ui-accordion-content {
  max-height: 540px;
}
.logo {
  width: 39%;
  float: left;
  padding-left: 20px;
}
.logo a {
  text-decoration: none;
}
.description {
  width: 38%;
  float: left;
  padding-left: 20px;
}
.description h3 {
  color: #007200;
  display: none;
}
.display {
  width: 58%;
  float: left;
  padding-left: 20px;
  margin-top: 100px;
  height: 800px;
  overflow-y: scroll;
}
h1 {
  margin: 8px 20px 20px 20px;
}
.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 2;
}
.copyright {
  text-align: center;
  margin-top: 20px;
}
.page {
  width: 100%;
  overflow: auto;
}
.sendform {
  position: absolute;
  left: 140px;
  top: 0;
  cursor: pointer;
}
.formwrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #333;
  opacity: 0.5;
  display: none;
}
.theform {
  display: none;
  position: absolute;
  top: 100px;
  width: 700px;
  margin-left: -350px;
  left: 50%;
  z-index: 2;
}
.theform h3 {
  background: white;
  padding: 5px;
  margin: 0 1px 1px 1px;
}
.theform form {
  width: 100%;
  height: 600px;
}
.theform form textarea {
  width: 694px;
  height: 300px;
}
.theform form input[type=submit] {
  float: right;
  background: white;
  border: 1px black solid;
  padding: 5px 10px;
  margin: -1px 0;
  font-weight: bold;
}
.theform form input[type=text] {
  width: 338px;
  float: left;
  margin: 0;
  padding: 5px;
  border: 1px black solid;
}
.closeform {
  position: absolute;
  right: -20px;
  top: -35px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}
.g-plusone {
  margin-left: 10px;
}
.social {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.twitter-follow-button { height: 24px!important; }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow:none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}